# diffusers
huggingface_hub
diffusers
transformers
xformers
accelerate
ftfy
controlnet-aux

# diffusers conversion script
OmegaConf
pytorch-lightning
safetensors

# image tools
scikit-image==0.19.3
blendmodes

# esrgan
opencv-python
typer
rich

# web
flask
flask_classful
werkzeug==2.1.2
pyngrok