# diffusers
huggingface_hub
diffusers==0.14.0
transformers==4.27.2
# xformers
accelerate==0.17.1
ftfy
torchvision
controlnet-aux
ipywidgets

# diffusers conversion script
OmegaConf
pytorch-lightning
safetensors

# image tools
scikit-image==0.19.3
blendmodes

# web
flask==2.1.3
flask_classful
werkzeug==2.1.2
pyngrok

# interrogator
timm
fairscale

# esrgan
opencv-python
typer
rich