# diffusers
huggingface_hub==0.11.0
diffusers==0.11.1
transformers==4.25.1
accelerate==0.14.0
ftfy==6.1.1

# diffusers conversion script
OmegaConf
pytorch-lightning

# esrgan
opencv-python
typer
rich

# web
flask
flask_classful
werkzeug==2.1.2
pyngrok