# diffusers
huggingface_hub
diffusers
transformers
accelerate
ftfy
torchvision
ipywidgets

# diffusers conversion script
OmegaConf
pytorch-lightning
safetensors

# image tools
scikit-image==0.19.3
blendmodes

# web
flask
flask_classful
werkzeug==2.1.2

# interrogator
timm
fairscale

# esrgan
opencv-python
typer
rich