# diffusers
huggingface_hub
diffusers==0.14.0
transformers==4.27.1
xformers
accelerate==0.17.0
ftfy
controlnet-aux

# diffusers conversion script
OmegaConf
pytorch-lightning
safetensors

# image tools
scikit-image==0.19.3
blendmodes

# esrgan
opencv-python
typer
rich

# web
flask
flask_classful
werkzeug==2.1.2
pyngrok