torch>=2.1.0

# diffusers
huggingface_hub
diffusers
transformers
accelerate
ftfy
torchvision
controlnet-aux
ipywidgets
invisible-watermark>=0.2.0
compel
peft
OmegaConf
pytorch-lightning
safetensors

# tts
torchaudio
tortoise-tts
# fairseq # used by bark, requires python 3.9, see https://github.com/facebookresearch/fairseq/issues/5012
git+https://github.com/liyaodev/fairseq.git # fork with python 3.11 support
audiolm-pytorch

# image tools
scikit-image==0.19.3
blendmodes
lpips

# esrgan
lmdb
opencv-python

# ui
nicegui
